body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: aquamarine;
}

main {
    padding: 100px;
    background-color: rgb(131, 131, 173);
    max-width: 400%;
}

.social-icons {
    position: fixed;
    bottom: 10px;
    display: block;
    padding: 10px;
}

.social-icons a {
    display: block;
    margin: 5px 0;
}

.index {
    position: fixed;
    top: 50%;
    left: 0;
    padding: 10px;
    list-style-type: none;
}

section {
    height: 800px;
}
