body {
    background-color: rgb(4, 0, 255);
    transition: background-color 0.3s, color 0.3s;
}

header, main {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

main {
    background-color: rgb(199, 8, 8); /*cambiar a blanco*/
    color: black;
    margin-top: 74px;
    margin-right: 30%;
    margin-left: 30%;
    bottom: 0;
}

header {
    background-color: #f1f1f1;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
}

.index {
    display: flex;
}

h2, h3 {
    margin-top: 5%;
}

section {
    height: 800px;
}

.social-icons {
    bottom: 0;
    position: fixed;
}

.dark-mode-header {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode-header a {
    color: #f1f1f1;
}

.dark-mode-main {
    background-color: black;
    color: white;
}

.dark-mode-body {
    background-color: #121212;
    color: #f1f1f1;
}

.dark-mode header a {
    color: white;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

button:focus {
    outline: none;
}

#toggleIcon {
    width: 24px;
    height: 24px;
}
